<h1>Meowtown</h1>
<nav>
  <a class="link" href="/cats/new">generate cat</a> /
  <a class="link" href="/cats/help">wuuut?</a>
</nav>

<ul>
 {{#each cats}}
  <li><b>{{this.name}}</b></li>
  <li><img src={{this.image_url}} alt="some_text" style="width:300px;height:300px;"></li>
  <li>{{this.life_story}}</li>
 {{/each}}
</ul>
