<h1>Meowtown</h1>
<nav>
  <a class="link" href="/cats/new">generate cat</a> /
  <a class="link" href="/cats/help">Help</a>
</nav>

<ul>
 {{#each cats}}
 <li><a href="/cats/{{this.id}}"> {{this.name}}</a></li></br>
  <img src="{{this.imgUrl}}" alt="" />
 {{/each}}
</ul>
