<h1>Meowtown</h1>
<nav>
  <a class="link" href="/cats/new">Create cat</a> /
  <a class="link" href="/cats/help">wuuut?</a>
</nav>

<h2> My name is {{name}} </h2>
<img src={{image}} alt="Smiley face" height="300px" width="400px"/>
<h3>{{life_story}}</h3>
