<h1>Meowtown</h1>
<nav>
  <a class="link" href="/cats">nevermind</a> /
  <a class="link" href="/cats/edit">edit</a>
</nav>

<div>
  <img src="{{image}}", alt="cat image">
</div>

<div>
<h3>Name</h3>
  <p>Hi my name is {{name}}</p>
</div>

<div>
<h3>life story</h3>
  {{life_story}}
</div>
