<h1>Meowtown</h1>
<nav>
  <a class="link" href="/cats">nevermind</a> /
  <a class="link" href="/cats/edit">edit</a>
</nav>

<div>
  {{image}}
</div>

<div>
<h3>Name</h3>
  <p>Hi my name is {{name}}</p>
</div>

<div>
<h3>Description</h3>
  {{description}}
</div>
