<h1>Meowtown</h1>
<nav>
  <a class="link" href="/cats/new">Create cat</a> /
  <a class="link" href="/cats/help">wuuut?</a>
</nav>

<h2> My name is {{name}} </h2>
<p>{{image}}</p>
<h3>{{life_story}}</h3>
