<h1>Meowtown</h1>
<nav>
  <a class="link" href="/cats/new">generate cat</a> /
  <a class="link" href="/cats/help">wuuut?</a>
</nav>

<div class="table table-striped">
{{#each cats}}
  <table class="table table-striped">
    <tr>
      <th>{{this.name}}</th>
    </tr>
    <tr>
      <td><img class="img-responsive img-circle catsImage" alt="Responsive image" src="{{this.image}}"></td>
    </tr>
      <td>{{this.life_story}}</td>
  </table>
  {{/each}}
</div>
