<div class="container">
  <div>
    <h1>Meowtown</h1>
  </div>
  <nav>
    <a class="link" href="/cats/new">generate cat</a> /
    <a class="link" href="/cats/help">wuuut?</a>
  </nav>
  </br>
  <div>
   {{#each cats}}
    <div class="indiv">I am <a class="link" href="/cats/{{this.id}}">{{this.catName}}</a>
      <p><img src={{this.photoURL}} width= "200" height= "200"></p>
    </div>
   {{/each}}
  </div>
</div>
