body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 30px;
  color: red;
}

.container {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.indiv {
  padding: 10px;
}

a {
  color: #00B7FF;
}
